@import "config";
@import "components";
@import "plugin";

@font-face {
  font-family: $fontPrimary;
  src: url("/assets/fonts/WorkSans-Medium.woff");
}
@font-face {
  font-family: $fontSecondary;
  src: url("/assets/fonts/SourceSansPro-Regular.woff");
}

* {
  font-family: $fontSecondary;
  font-size: 1rem;
}
html {
  scroll-behavior: smooth;
}
h1,
h2,
h3 {
  font-family: $fontPrimary;
}

body {
  min-height: 140vh;
}
a {
  display: inline-block;
  text-decoration: none;
  color: $white;
}
.navbar {
  &__icon {
    img {
      margin: 0 0.5rem;
    }
    @include media-breakpoint-up(md) {
      visibility: hidden;
    }
  }
  .nav-link {
    font-family: $fontPrimary;
    font-size: 1rem;
  }
}

.hero {
  padding-top: 3rem;
  &__image {
    border-radius: 1rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 250px;
    @include media-breakpoint-up(md) {
      height: 600px;
    }
  }
  &__caption {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba($color: $primary, $alpha: 0.7);
    top: 45%;
    bottom: 30%;
    @include media-breakpoint-up(md) {
      border-top-right-radius: 1rem;
      border-bottom-right-radius: 1rem;
      right: 0;
      left: 70%;
      top: 0;
      bottom: 0;
      text-align: start;
      padding-left: 1rem;
    }
    h5 {
      font-family: $fontPrimary;
    }
    p,
    span {
      display: none;
      @include media-breakpoint-up(md) {
        display: block;
      }
    }
  }
  &__btn {
    letter-spacing: 3px;
  }
}
